:root{
  font-family: 'Josefin Sans';
  font-style: normal;
}

.info__top,
.menu__1440-left,
.menu__1440-right,
.about__descr-desctop,
.block__info-descr-desctop,
.featur__blockdescr-desctop,
.checkout__descr-desctop,
.downloads__descr-desctop,
.howto__cont-descr-desctop,
.customers__descr-desctop,
.customers__img-descr-desctop,
.hero__rectangle-descr-desktop,
.featur__blockdescrtitle-desctop,
.team__item-about-sm,
.blog__descr-desctop,
.team__descr-desctop,
.customers__descr-desctop1{
  display: none;
}
.menu__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 375px;
}
.menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 3px;
  border-radius: 3px;
  margin-top: 30px;
  width: 343px;
  height: 40px;
}
.menu .menu__burger {
  background-image: url("../img/burger.svg");
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 5px;
}
.menu .menu__logo{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}
.menu .menu__logo-img {
  align-items: center;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  width: 79px;
  height: 12px;
  z-index: 2;
}
.menu__inner a {
  text-decoration: none;
}
.download {
  width: 76px;
  height: 34px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #5956E9;
  text-align: center;
  align-content: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}
.menu__wrapper a {
  text-decoration: none;
}

@media (min-width: 768px){
.menu__bg {
  min-width: 768px;
  min-height: 785px;
}
.menu__wrapper {
  min-width: 688px;
  height: 60px;
  border-radius: 5px;
}
.menu .menu__burger{
  margin-top: 16px;
}
.download{
  width: 158px;
  height: 50px;
  margin-top: 5px;
  border-radius: 5px;
  margin-right: 2px;
  font-size: 20px;
}
.menu__wrapper a {
  padding-top: 1px;
}
.info__top{
  display: flex;
  margin-top: -265px;
}
.info__top-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-width: 697px;
}
.info__top-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.info__top-message {
  background-image: url("../img/mail-top.svg");
  width: 18px;
  height: 18px;
}
.info__top-email, 
.info__top-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.info__top-call {
  background-image: url("../img/phone-top.svg");
  width: 18px;
  height: 18px;
  margin-left: 48px;
}
.info__top-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.info__topsoc-facebook {
  background-image: url("../img/facebook-top.svg");
  width: 18px;
  height: 18px;
}
.info__topsoc-insta {
  background-image: url("../img/instagram-top.svg");
  width: 18px;
  height: 18px;
}
.info__topsoc-twitter {
  background-image: url("../img/twitter-top.svg");
  width: 18px;
  height: 18px;
}
.info__topsoc-youtube {
  background-image: url("../img/youtube-top.svg");
  width: 18px;
  height: 18px;
}
.menu__wrapper {
  margin-top: 31px;
}
.menu .menu__logo {
  top: 18%;
  width: 200px;
  height: 90px;
}
.menu .menu__logo-img {
  background-image: url("../img/logo720.svg");
  width: 167px;
  height: 28px;
}

}

@media (min-width: 1440px) {
.menu__burger {
  display: none;
}
.menu__wrapper {
  min-width: 1171px;
  position: relative;
  margin-top: 15px;
}
.info__top-wrapper {
  min-width: 1180px;
}
.menu__1440-left,
.menu__1440-right{
  position: absolute;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.menu__1440-left a,
.menu__1440-right a{
  text-decoration: none;
  color: #232233;
}
.menu__1440-left a:hover,
.menu__1440-right a:hover {
  text-decoration: underline;
  color: #5956e9;
}
.menu__1440-left {
  top: 28%;
  left: 6%;
}
.menu__1440-right{
  top: 28%;
  left: 63%;
}
.download {
  position: absolute;
  right: 3px;
  top: -0.5px;
}
.menu .menu__logo{
  top: -25%;
}
}

/* section hero start*/

.hero__rectangle-back{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 4%;
  min-width: 323px;
  min-height: 358px;
  border: 10px solid #7572FF;
}
.hero__rectangle-front{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4%;
  top: 20px;
  width: 323px;
  height: 318px;
  background-color: white;
  z-index: 1;
}
.hero__rectangle-title {
  margin-top: 30px;
  margin-left:18px;
  width: 262px;
  height: 71px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #5956E9;
}
.hero__rectangle-descr {
  display: block;
  margin-top: 18px;
  margin-left: 18px;
  width: 298px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #6C6C72;
}
.hero__rectangle-downloadtext{
  margin-top: 30px;
  margin-left: 18px;
  width: 231px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.hero__rectangle-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 228px;
  height: 34px;
  margin-top: 18px;
  margin-left: 18px;
}
.hero {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  min-width: 375px;
}
.hero__wrapper{
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 965px;
}
.hero__rectangles-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 375px;
  height: 360px;
}
.hero__mobileapp-block{
  height: 521px;
}
.hero__mobileimg{
  display: flex;
  justify-content:center;
  margin-top: 40px;
  margin-bottom: 40px;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));
}
.rect__icon-google{
  background-image: url("../img/gplay.png");
  background-repeat: no-repeat;
  width: 109px;
  height: 35px;
  }
  .rect__icon-apple{
  background-image: url("../img/appst.png");
  background-repeat: no-repeat;
  width: 114px;
  height: 35px;
  }

@media (min-width: 768px) {
  .hero{
    min-width: 768px;
  }
  .hero__wrapper{
    flex-direction: row;
    justify-content: space-between;
    min-width: 689px;
    gap: 50px;
    height: 690px;
  }
  .hero__rectangles-wrapper{
    margin-top: 161px;
    width: 391px;
    height: 381px;
  }
  .hero__rectangle-back{
    border: 18px solid #7572ff;
    width: 375px;
    height: 381px;
    left: 4%;
  }
  .hero__rectangle-front{
    width: 356px;
    height: 318px;
    top: 31px;
    left: 1%;
  }
  .hero__rectangle-title{
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
    text-transform: uppercase;
    width: 331px;
    height: 95px;
    margin-top: 18px;
  }
  .hero__rectangle-descr{
    width: 330px;
    height: 66px;
    margin-top: 5px;
  }
  .hero__rectangle-icons{
    width: 314px;
    height: 47px;
  }
  .rect__icon-google{
    background-image: url("../img/gplayb.png");
    background-repeat: no-repeat;
    width: 149px;
    height: 45px;
  }
  .rect__icon-apple{
    background-image: url("../img/appstb.png");
    background-repeat: no-repeat;
    width: 153px;
    height: 45px;
  }

  .info__top{
    margin-top: 20px;
  }
  .menu__bg {
    background-image: url("../img/bg-768.jpg");
    justify-content: start;
  }
}

@media (min-width: 1440px) {
  .menu__bg {
      background-image: url("../img/bg-1440.jpg");
      min-height: 1024px;
      position: relative;
    }
    .hero{
      height: 791px;
    }
    .hero__wrapper{
      min-width: 1160px;
      gap: 0;
      height: 791px;
    }
    .hero__rectangles-wrapper{
      width: 620px;
      height: 535px;
    }
    .hero__rectangle-front{
      left: 0;
      width: 570px;
      height: 432px;
      top: 9%;
    }
    .hero__mobileapp-block{
      width: 418px;
    }
    .info__top{
      margin-top: 35px;
    }
    .hero__rectangle-back{
      min-width: 570px;
      min-height: 535px;
      border: 18px solid #7572FF;
      left: 8%;
    }
    .hero__rectangle-title{
      width: 517px;
      height: 126px;
      font-weight: 700;
      font-size: 48.83px;
      line-height: 63px;
      text-transform: uppercase;
      color: #5956E9;
      margin-top: 40px;
    }
    .hero__rectangle-descr{
      width: 487px;
      height: 66px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6C6C72;
      margin-top: 18px;
    }
    .hero__rectangle-downloadtext{
      width: 289px;
      height: 38px;
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;
      text-transform: uppercase;
      color: #232233;
      margin-top: 52px;
    }
    .hero__rectangle-icons{
      width: 314px;
      height: 47px;
      margin-top: 5px;
    }
    .rect__icon-google img,
    .rect__icon-apple img{
      display: none;
    }
    .rect__icon-google{
      background-image: url("../img/gplayb.png");
      background-repeat: no-repeat;
      width: 149px;
      height: 47px;
    }
    .rect__icon-apple{
      background-image: url("../img/appstb.png");
      background-repeat: no-repeat;
      width: 152px;
      height: 47px;
    }
    .hero__rectangle-descr-desktop{
      display: inline;
    }
}

/* section hero end */

/* section about start */
.about {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: auto;
  margin-top: 80px;
}
.about .about__title{
  margin: 0 auto;
  width: 209px;
  height: 38px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232233;
}
.about__descr{
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  width: 280px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C72;
}
.about__img{
  margin: 0 auto;
  margin-top: 40px;
  background-image: url("../img/about-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 238px;
  height: 359px;
}
.about__block{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  width: 343px;
  height: 110px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.block__info{
  display: flex;
  flex-direction: column;
  width: 266px;
}
.block__check {
  display: flex;
  margin-top: 21px;
  margin-left: 30px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.about .block__info-title{
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-top: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.about .block__info-descr,
.about .block__info-descr-desctop{
  width: 260px;
  height: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C72;
}

@media (min-width: 768px){
  .about .about__descr-desctop {
    display: inline;
    margin: 25px auto 0;
    text-align: center;
    width: 450px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6C6C72;
  }
  .about__title{
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
  }
  .about__descr {
    margin-top: 20px;
    width: 450px;
    height: 70px;
  }
  .about__content-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    min-width: 689px;
  }
}

@media (min-width: 1440px) {
  .about .block__info-descr{
    margin-top: 10px;
    width: 488px;
    height: 67px;
  }
  .about__img{
    background-image: url("../img/about-imgb.jpg");
    width: 386px;
    height: 548px;
  }
  .about .about__title{
    width: 265px;
    height: 48px;
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
    text-transform: uppercase;
  }
  .about__block{
    margin-top: 30px;
    width: 570px;
    height: 160px;
    justify-content: start;
    gap: 20px;
  }
  .about .block__info-title {
    margin-top: 20px;
  }
  .about .block__info-descr-desctop {
    display: inline;
    margin-top: 10px;
    width: 491px;
    height: 67px;
  }
}
/* section about end */

/* section features start */
.features{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  min-width: 375px;
  height: 2230px;
}
.features__bg{
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 2270px;
}
.featur__block-app,
.featur__block-freechat,
.featur__block-unlim{
  margin: 15px auto 0;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.featur__block-awesome {
  margin: 30px auto 0;
  height: 105px;
}
.featur__block-app .featur__block-title{
  font-size: 25px;
}
.featur__block-title {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.featur__block-descr,
.featur__blockdescr-desctop {
  margin: 0 auto;
  margin-top: 9px;
  width: 283px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.featur__block-icon{
  margin: 18px auto 0;
  background-image: url("../img/comment.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
.featur__block-freechat .featur__block-icon {
  background-image: url("../img/comment.svg");
}
.featur__block-awesome .featur__block-icon {
  background-image: url("../img/vector.svg");
}
.featur__block-freechat .featur__block-descr,
.featur__block-unlim .featur__block-descr,
.featur__block-awesome .featur__block-descr,
.featur__block-version .featur__block-descr,
.featur__block-retina .featur__block-descr{
  width: 255px;
}
.featur__block-unlim .featur__block-icon {
  background-image: url("../img/browser.svg");
}
.appimg {
  margin: 160px auto 0;
  background-image: url("../img/app.png");
  background-repeat: no-repeat;
  filter: drop-shadow(0 17px 10px rgba(0, 0, 0, 0.3));
  width: 214px;
  height: 468px;
}
.features__blocks-section{
  margin-top: 50px;
}
.featur__block-retina,
.featur__block-support{
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
}
.featur__block-support {
  height: 250px;
  margin-bottom: 40px;
}
.featur__block-version .featur__block-icon {
  background-image: url("../img/cell.svg");
  width: 50px;
  height: 50px;
}
.featur__block-retina .featur__block-icon {
  background-image: url("../img/eye.svg");
  height: 70px;
  width: 70px;
}
.featur__block-support .featur__block-icon {
  background-image: url("../img/supp.svg");
  height: 50px;
  width: 50px;
}
.featur__block-version .featur__block-title,
.featur__block-retina .featur__block-title,
.featur__block-support .featur__block-title {
  margin: 13px auto 0;
  width: 230px;
  text-align: center;
}
.featur__block-descrtitle{
  width: 300px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  .featur__blockdescrtitle-desctop{
    display: inline;
  }
  .featur__block-descrtitle{
    position: absolute;
    top:7%;
    left: 21%;
    width: 450px;
    height: 70px;
  }
  .features{
    margin-top: 110px;
    height: 10%;
  }
  .features__bg{
    background-image: url("../img/bg1-middleb.png");
    height: 1336px;
    width: 100%;
  }
  .features__container{
    margin: 0 auto;
    position: relative;
    min-width: 768px;
    height: 1336px;
  }
  .featur__block-app .featur__block-title {
    position: absolute;
    left: 34%;
    top: 0%;
    width: 234px;
    font-size: 31px;
  }
  .featur__blockdescr-desctop{
    display: inline;
    left: 22%;
    top: 6%;
    width: 450px;
  }
  .appimg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24%;
  }
  .featur__block-freechat,
  .featur__block-unlim, 
  .featur__block-awesome,
  .featur__block-version,
  .featur__block-retina,
  .featur__block-support {
    display: block;
    position: absolute;
    width: 250px;
    height: 200px;  
  }
  .featur__block-freechat{
    top: 17%; 
    left: 33%;
  }
  .featur__block-unlim{
    top: 37%; 
    left: 0;
  }
  .featur__block-awesome{
    top: 53%; 
    left: 0;
  }
  .featur__block-version{
    top: 38%; 
    left: 66%;
  }
  .featur__block-retina{
    top: 52%; 
    left: 66%;
  }
  .featur__block-support{
    top: 72%; 
    left: 33%;
  }
  .featur__block-unlim .featur__block-icon,
  .featur__block-awesome .featur__block-icon {
    background-position: right;
    padding-left: 201px;
  }
  .featur__block-version .featur__block-icon{
    background-position: left;
    padding-right: 200px;
  }
  .featur__block-retina .featur__block-icon{
    background-position: left;
    padding-right: 158px;
  }
  .featur__block-freechat .featur__block-title,
  .featur__block-unlim .featur__block-title,
  .featur__block-awesome .featur__block-title,
  .featur__block-version .featur__block-title,
  .featur__block-retina .featur__block-title,
  .featur__block-support .featur__block-title{
    display: block;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
  }
  .featur__block-unlim .featur__block-title,
  .featur__block-awesome .featur__block-title{
    text-align: right;
  }
  .featur__block-version .featur__block-title,
  .featur__block-retina .featur__block-title{
    text-align: left;
  }
  .featur__block-freechat .featur__block-descr,
  .featur__block-unlim .featur__block-descr,
  .featur__block-awesome .featur__block-descr,
  .featur__block-version .featur__block-descr,
  .featur__block-retina .featur__block-descr,
  .featur__block-support .featur__block-descr{
    display: block;
    margin: 20px auto 0;
  }
  .featur__block-unlim .featur__block-descr,
  .featur__block-awesome .featur__block-descr {
    text-align: right;
  }
  .featur__block-version .featur__block-descr,
  .featur__block-retina .featur__block-descr{
    text-align: left;
    padding-left: 10px;
  }
  .featur__block-support .featur__block-descr {
    width: 250px;
  }
}

@media (min-width: 1440px){
  .features__bg {
    background-image: url("../img/bg1-1440.png");
    height: 1710px;
    width: 100%;
  }
  .features__container{
    min-width: 1440px;
    height: 1710px;
  }
  .featur__block-descrtitle{
    top:6%;
    left: 29%;
    width: 601px;
    height: 70px;
  }
  .appimg {
    background-image: url("../img/app-1440.png");
    width: 375px;
    height: 812px;
    top: 21%;
  }
  .featur__block-app .featur__block-title {
    left: 41%;
    margin-top: 40px;
  } 
  .featur__block-app .featur__blockdescr-desctop {
    left: 34%;
  }
  .featur__block-freechat {
    top: 14%;
    left: 41%;
  }
  .featur__block-unlim {
    top: 33%;
    left: 15%;
  }
  .featur__block-version {
    top: 34%;
  }
  .featur__block-awesome{
    left: 15%;
    top: 62%;
  }
  .featur__block-retina{
    top: 62%;
  }
  .featur__block-support{
    top: 80%;
    left: 41%;
  }
}
/* section features end */

/* section checkout start */
.checkout {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-width: 375px;
  height: 707px;
}
.checkout__text-wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 375px;
  height: 200px;
}
.checkout__title {
  margin: 10px auto 0;
  width: 287px;
  height: 75px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.checkout__descr,
.checkout__descr-desctop{
  margin: 10px auto 0;
  width: 280px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6C6C72;
}
.checkout__img-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 100%;
  height: 444px;
}
.checkout__img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.checkout__img-left{
  background-image: url("../img/iphone-left.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 164px;
  height: auto;
}
.checkout__img-center {
  background-image: url("../img/iphone.png");
  background-position: center;
  min-width: 227px;
  height: 444px;
}
.checkout__img-right {
  background-image: url("../img/iphone-right.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 163px;
  height: auto;
}
.checkout__points {
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 154px;
  height: 20px;
}
.checkout__ellipse {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  padding-top: 4px;
}
.ellipse-active {
  background-image: url("../img/ellipse_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  padding-top: 0;
}

@media (min-width: 768px){

  .checkout__descr {
    width: 601px;
    height: 70px;
  }
  .checkout__img-wrapper{
    height: 500px;
  }
  .checkout__descr-desctop{
    display: inline;
    width: 450px;
    height: 70px;
  }
  .checkout__img{
    margin: 0 auto;
    position: relative;
    width: 688px;
    height: 444px;
  }
  .checkout__title{
    font-size: 31px;
    font-weight: 700;
    line-height: 151%;
    width: 360px;
    height: 95px;
  }
  .checkout__img-center{
    position: absolute;
    margin: 0 auto;
    background-image: url("../img/iphone-mid.png");
    width: 277px;
    height: 444px;
    background-repeat: no-repeat;
  }
  .checkout__img-left {
    position: absolute;
    top: 12%;
    left: 9%;
    background-image: url("../img/iphone-left-mid.png");
    width: 176px;
    height: 354px;
    background-repeat: no-repeat;
  }
  .checkout__img-right {
    position: absolute;
    top: 12%;
    left: 65%;
    background-image: url("../img/iphone-right-mid.png");
    width: 176px;
    height: 354px;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .checkout__img-left-op {
    background-image: url("../img/iphone-left-op.png");
    position: absolute;
    top: 10%;
    left: -1%;
    width: 176px;
    height: 370px;
    background-repeat: no-repeat;
  }
  .checkout__img-right-op {
    background-image: url("../img/iphone-right-op.png");
    position: absolute;
    top: 10%;
    left: 74%;
    width: 176px;
    height: 370px;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

@media (min-width: 1440px){
  .checkout{
    height: 883px;
  }
  .checkout__img-wrapper {
    height: 883px;
  }
  .checkout__points{
    margin: 205px auto 0;
  }
  .checkout__img{
    width: 1066px;
  }
  .checkout__title{
    width: 625px;
    height: 48px;
  }
  .checkout__descr-desctop{
    width: 563px;
    height: 70px;
  }
  .checkout__img-center{
    background-image: url("../img/iphone-big.png");
    width: 319px;
    height: 622px;
  }
  .checkout__img-left {
    background-image: url("../img/iphone-left-big.png");
    width: 260px;
    height: 532px;
    left: 10%;
  }
  .checkout__img-right {
    background-image: url("../img/iphone-right-big.png");
    width: 260px;
    height: 532px;
  }
  .checkout__img-right-op {
    background-image: url("../img/iphone-right-op-bg.png");
    width: 265px;
    height: 543px;
  }
  .checkout__img-left-op {
    background-image: url("../img/iphone-left-op-big.png");
    width: 245px;
    height: 540px;
  }
  .checkout__img-larrow{
    position: absolute;
    background-image: url("../img/leftarrow.svg");
    background-repeat: no-repeat;
    width: 94px;
    height: 94px;
    top: 62%;
    left: -11%;
    z-index: 2;
  }
  .checkout__img-rarrow {
    position: absolute;
    background-image: url("../img/rightarrow.svg");
    background-repeat: no-repeat;
    width: 94px;
    height: 94px;
    top: 62%;
    left: 100%;
    z-index: 2;
  }
}
/* section checkout end */

/* section download start */
.downloads {
  margin-top: 60px;
}
.downloads__wrapper{
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 810px;
}
.downloads__title {
  margin: 0 auto;
  padding-right: 45px;
  width: 285px;
  height: 75px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232233;
  text-align: left;
}
.downloads__descr,
.downloads__descr-desctop{
  margin: 15px auto 0;
  width: 329px;
  height: 73px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C72;
  text-align: left;
}
.downloads__app {
  margin: 30px auto 0;
  width: 325px;
  height: 47px;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: space-between;
}
.downloads__app .rect__icon-google{
  background-image: url("../img/gplayb.png");
  background-repeat: no-repeat;
  width: 149px;
  height: 47px;
}
.downloads__app .rect__icon-apple {
  background-image: url("../img/appstb.png");
  background-repeat: no-repeat;
  width: 153px;
  height: 47px;
}
.downloads__stats{
  margin: 60px auto 0;
}
.downloads__stats-blocks{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 18px;
}
.stats__item {
  background-color: #5956e9;
  height: 100px;
  width: 96px;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10000000149011612));
  border-radius: 5px;
}
.st-download .stats__item-ico {
  margin: 10px auto 0;
  background-image: url("../img/download.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.st-like .stats__item-ico {
  margin: 10px auto 0;
  background-image: url("../img/thumb-up.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.st-star .stats__item-ico {
  margin: 10px auto 0;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.stats__item-num {
  margin-top: 5px;
  color: #ffffff;
  text-align: center;
  vertical-align: text-top;
  font-size: 20px;
  line-height: 30px;
  border-style: hidden;
  outline: none;
}
.stats__item-descr{
  margin-top: 3px;
  color: #ffffff;
  text-align: center;
  vertical-align: text-top;
  font-size: 16px;
  line-height: 24px;
  border-style: hidden;
  outline: none;
}
.downloads__img{
  margin: 60px auto 0;
}

@media (min-width: 768px){
  .downloads {
    margin-top: 120px;
  }
  .downloads__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    max-width: 687px;
    height: 414px;
  }
  .downloads__img {
    margin: 72px auto 0;
  }
  .downloads__title {
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
  }
}

@media (min-width: 1440px){
  .downloads__descr{
    width: 570px;
    height: 87px;
  }
  .downloads{
    margin-top: 134px;
  }
  .downloads__wrapper {
    max-width: 1166px;
    height: 506px;
  }
  .downloads__title {
    margin: 0;
    width: 363px;
    height: 48px;
    padding-right: 0;
    text-align: left;
  }
  .downloads__descr-desctop{
    display: inline;
    width: 570px;
    height: 87px;
  }
  .downloads__app {
    margin: 0;
    margin-top: 40px;
  }
  .downloads__stats-blocks {
    justify-content: start;
  }
  .stats__item {
    width: 170px;
    height: 176px;
  }
  .st-download .stats__item-ico{
    background-image: url("../img/downloadb.svg");
    width: 35px;
    height: 35px;
    margin-top: 20px;
  }
  .st-like .stats__item-ico{
    background-image: url("../img/thumb-upb.svg");
    width: 35px;
    height: 35px;
    margin-top: 20px;
  }
  .st-star .stats__item-ico {
    background-image: url("../img/starb.svg");
    width: 35px;
    height: 35px;
    margin-top: 20px;
  }
  .stats__item-num{
    font-weight: 600;
    font-size: 25px;
    margin-top: 18px;
  }
  .stats__item-descr{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-top: 18px;
  }
  .downloads__img{
    margin: 0 auto;
  }
}
/* section download end */

/* section howto start */
.howto{
  margin-top: 60px;
}
.howto__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 375px;
  height: 500px;
}
.howto__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #5956e9;
  height: 357px;
  width: 375px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.howto__cont-title{
  margin-top: 60px;
  color: #ffffff;
  text-align: center;
  vertical-align: text-top;
  font-size: 25px;
  line-height: 37.5px;
  text-transform: uppercase;
}
.howto__cont-descr,
.howto__cont-descr-desctop{
  margin: 40px auto 0;
  width: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.howto__video {
  z-index: 1;
}
.howto__video-img {
  position: absolute;
  top:55%;
  background-image: url(../img/video_img.png);
  width: 375px;
  height: 345px;
}
.howto__video-button {
  position: absolute;
  background-image: url("../img/video-icon.svg");
  width: 70px;
  height: 70px;
  top: 36%;
  left: 41%;
}

@media (min-width: 768px){
  .howto__cont-descr{
    width: 450px;
    height: 70px;
  }
  .howto{
    margin-top: 120px;
    height: 523px;
  }
  .howto__wrapper{
    margin: 0 auto;
    width: 767px;
    height: 523px;
  }
  .howto__container{
    width: 767px;
    height: 402px;
  }
  .howto__cont-title{
    margin: 49px auto 0;
    width: 357px;
    height: 95px;
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
  }
  .howto__cont-descr-desctop{
    display: inline;
    width: 450px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .howto__video-img{
    background-image: url("../img/video_imgm.png");
    width: 745px;
    height: 420px;
    top: 50%;
  }
  .howto__video-button{
    top: 39%;
    left: 47%;
  }
}

@media (min-width: 1440px){
  .howto {
      margin-top: 134px;
      width: 100%;
      height: 682px;
    }
    .howto__wrapper {
      width: 1440px;
      height: 682px;
    }
  
    .howto__container {
      width: 1440px;
      height: 477px;
    }
    .howto__video{
      display: flex;
      justify-content: center;
    }
    .howto__video-img {
      margin-top: 60px;
      background-image: url("../img/video_imgb.png");
      box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.24);
      width: 770px;
      height: 319px;
    }
}
/* section howto end */

/* section team start */
.team__text-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 375px;
}
.team__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232233;
  text-align: center;
  vertical-align: text-top;
  width: 251px;
}
.team__descr,
.team__descr-desctop {
  margin: 15px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6C6C72;
  width: 300px;
}
.team__item-container{
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #ffffff;
  height: 580px;
  width: 343px;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10000000149011612));
  border-radius: 10px;
}
.team__item-img{
  position: relative;
  height: 250px;
}
.team__img-circle {
  position: absolute;
  top: 12%;
  left: 18%;
  background-image: url("../img/circle.png");
  width: 220px;
  height: 220px;
  z-index: 1;
}
.team__img-foto {
  position: absolute;
  top: 16%;
  left: 21%;
  background-image: url("../img/girlimg.jpg");
  width: 198px;
  height: 198px;
}
.team-uiux .team__img-foto {
  background-image: url("../img/manuiux.png");
}
.team-devel .team__img-foto {
  background-image: url("../img/girldevelop.jpg");
}
.team__item-name {
  margin: 66px auto 0;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}
.team__item-prof{
  margin: 14px auto 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6C6C72;
}
.team__item-about,
.team__item-about-sm {
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6C6C72;
  width: 300px;
}
.team__item-social {
  display: flex;
  flex-direction: row;
  margin: 30px auto 0;
  gap: 60px;
  width: 282px;
  height: 24px;
}
.team__soc-facebook::after,
.team__soc-insta::after,
.team__soc-twitter::after {
  position: absolute;
  display: block;
  left: 210%;
  content: "";
  width: 1px;
  height: 25px;
  background-color: black;
}
.team__soc-facebook {
  position: relative;
  background-image: url("../img/facebook.svg");
  width: 24px;
  height: 24px;
}
.team__soc-insta {
  position: relative;
  background-image: url("../img/instagram.svg");
  width: 24px;
  height: 24px;
}
.team__soc-twitter {
  position: relative;
  background-image: url("../img/twitter.svg");
  width: 24px;
  height: 24px;
}
.team__soc-youtube {
  background-image: url("../img/youtube.svg");
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .team__item-about {
    display: none;
  }
  .team {
    height: 621px;
    margin-top: 120px;
  }
  .team__descr-desctop{
    display: inline;
  }
  .team__descr{
    width: 450px;
    height: 70px;
  }
  .team__container{
    min-width: 688px;
  }
  .team__items-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 688px;
  }
  .team__item-container{
    min-width: 0;
    width: 213px;
    height: 453px;
  }
  .team__item-img{
    width: 213px;
    height: 225px;

  }
  .team__item-name {
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }
  .team__item-prof{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .team__item-about-sm{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 158px;
    height: 69px;
  }
  .team__item-container .team__img-foto {
    background-image: url("../img/girlimg-sm.jpg");
    width: 160px;
    height: 160px;
  }
  .team__img-foto{
    left: 15%;
    top: 15%;
  }
  .team-uiux .team__img-foto {
    background-image: url("../img/manuiux-sm.jpg");
    width: 160px;
    height: 160px;
  }
  .team-devel .team__img-foto {
    background-image: url("../img/girldevelop-sm.jpg");
    width: 160px;
    height: 160px;
  }
  .team__img-circle{
    background-image: url("../img/circle-sm.png");
    width: 178px;
    height: 178px;
    top: 11%;
    left: 11%;
  }
  .team__item-social{
    gap: 23px;
    width: 171px;
  }
  .team__soc-facebook::after,
  .team__soc-insta::after,
  .team__soc-twitter::after{
    left: 143%;
  }
}

@media (min-width: 1440px){
  .team__item-about {
      display: none;
  }
  .team {
    height: 781px;
    margin-top: 120px;
  }
  .team__container {
    min-width: 1170px;
  }
  .team__descr-desctop {
    display: inline;
  }
  .team__title{
    width: 318px;
    height: 48px;
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
    text-transform: uppercase;
  }
  .team__descr {
    width: 601px;
    height: 70px;
    margin-bottom: 20px;
  }
  .team__items-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1170px;
  }
  .team__item-about{
    display: block;
  }

}
/* section team end */

/* section customers start */
.customers {
  margin-top: 60px;
}
.customers__wrapper{
  display: flex;
  flex-direction: column;
  min-width: 375px;
}
.customers__bg {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("../img/customers_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 588px;
}
.customers__title{
  margin: 40px auto 0;
  width: 315px;
  height: 38px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.customers__descr,
.customers__descr-desctop {
  margin: 20px auto 0;
  width: 300px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.customers__review {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 375px;
  background-color: aqua;
}
.customers__rev-item,
.customers__rev-previtem,
.customers__rev-nextitem{
  position: absolute;
  top: 225px;
  left: 15px;
  background-color: #ffffff;
  height: 250px;
  width: 343px;
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.23999999463558197));
  border-radius: 10px;
  z-index: 1;
}
.customers__review .prev-corner {
  top: 245px;
  left: 0;
  height: 215px;
  width: 343px;
  z-index: 0;
}
.customers__review .next-corner {
  top: 245px;
  left: 32px;
  height: 215px;
  width: 343px;
  z-index: 0;
}
.customers__img-foto {
  background-image: url("../img/cust_person1.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.customers__img-name {
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232233;
}
.customers__img-prof {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #232233;
}
.customers__img-descr,
.customers__img-descr-desctop {
  margin: 0 auto;
  width: 316px;
  height: 70px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6C6C72;
}
.customers__review .prev-corner .customers__img-descr ,
.customers__review .next-corner .customers__img-descr{
  font-size: 11px;
}
.customers__slider {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.customers__slider-point{
  background-image: url("../img/customer_point.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  padding-top: 5px;
}
.cust__active-point {
  background-image: url("../img/customer-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  padding-top: 1px;
}

@media (min-width: 768px){
  .customers__descr{
    width: 450px;
    height: 70px;
  }
  .customers{
    margin-top: 120px;
  }
  .customers__wrapper{
    min-width: 767px;
  }
  .customers__bg {
    background-image: url("../img/customers_bg-mid.png");
    width: 100%;
    height: 746px;
  }
  .customers__title{
    margin-top: 120px;
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
    width: 399px;
    height: 48px;
  }
  .customers__descr-desctop{
    margin-top: 18px;
    display: inline;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 450px;
    height: 70px;
  }
  .customers__review{
    margin: 75px auto 0;
    min-width: 767px;
  }
  .customers__rev-item{
    width: 450px;
    height: 250px;
    left: 21%;
  }
  .customers__review .prev-corner,
  .customers__review .next-corner{
    width: 450px;
    height: 210px;
  }
  .customers__review .prev-corner {
    left: 6%;
  }
  .customers__review .prev-corner{
    left: 35%;
  }
  .customers__img-prof{
    margin-top: 0;
  }
  .customers__img-descr,
  .prev-corner .customers__img-descr,
  .next-corner .customers__img-descr{
    margin: 10px auto 0;
    width: 374px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .customers__slider {
    top: 84%;
  }
}

@media (min-width: 1440px){
  .customers__img-descr{
    width: 647px;
    height: 78px;
  }
  .customers__descr-desctop1{
    display: inline;
  }
  .customers__descr {
    width: 601px;
    height: 70px;
  }
  .customers__title{
    margin-top: 120px;
  }
  .customers__descr-desctop{
    margin-top: 23px;
  }
  .customers__review{
    margin-top: 95px;
  }
  .customers__rev-item {
    width: 770px;
    height: 357px;
    left: 0;
  }
  .customers {
    margin-top: 134px;
  }
  .customers__wrapper {
    min-width: 1440px;
  }
  .customers__bg {
    background-image: url("../img/customers_bg-big.png");
    width: 100%;
    height: 876px;
  }
  .customers__slider{
    margin-top: -40px;
  }
  .customers__img-foto{
    background-image: url("../img/cust_person1-big.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
  }
  .customers__img-name{
    margin-top: 20px;
  }
  .customers__img-descr{
    margin-top: 8px;
  }
  .customers__img-descr-desctop{
    display: inline;
    width: 647px;
    height: 78px;
    margin-top: 20px;
  }
  .prev-corner .customers__img-descr-desctop,
  .next-corner .customers__img-descr-desctop{
    display: none;
  }
  .customers__review .prev-corner,
  .customers__review .next-corner {
    width: 570px;
    height: 330px;
  }
  .customers__review .prev-corner{
    left: -27%;
    top: 241px;
  }
  .customers__review .next-corner {
    left: 50%;
    top: 241px;
  }
  .customers__slider{
    margin-top: 0;
  }

}

/* section customers end */

/* section blog start */
.blog {
  margin-top: 60px;
}
.blog__wrapper{
  min-width: 375px;
}
.blog__text-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 375px;
}
.blog__title {
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.blog__descr,
.blog__descr-desctop {
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C72;
  width: 318px;
  text-align: center;
}
.blog__sections{
  display: flex;
  flex-direction: column;
}
.blog__item {
  position: relative;
  margin: 40px auto 0;
  background-color: #ffffff;
  height: 484px;
  width: 343px;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10000000149011612));
  border-radius: 10px;
}
.blog__item-img {
  position: absolute;
  top: 0;
  left: 0; 
}
.blog__item-title {
  position: absolute;
  top: 53%;
  left: 3%;
  width: 313px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.blog__item-descr {
  position: absolute;
  top: 68%;
  left: 3%;
  width: 318px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C72;
}
.blog__item-lik {
  position: absolute;
  top: 89%;
  left: 3%;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: aquamarine;
}

@media (min-width: 768px){
  .blog__descr{
    width: 450px;
    height: 70px;
  }
  .blog__title{
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
  }
  .blog__descr-desctop{
    display: inline;
    width: 450px;
    height: 70px;
  }
  .blog__sections{
    margin: 0 auto;
    flex-direction: row;
    gap: 24px;
    width: 688px;
  }
  .blog__item{
    width: 213px;
    height: 633px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-top: 60px;
  }
  .blog__item-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    width: 200px;
    height: 120px;
    top: 39%;
    left: 4%;
  }
  .blog__item-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 178px;
    height: 141px;
    top: 60%;
    left: 4%;
  }
  .blog__item-lik{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    left: 4%;
  }
  .blog__item-lik a {
    color: #5851ea;
  }
}

@media (min-width: 1440px){
  .blog{
    margin-top: 134px;
  }
  .blog__wrapper{
    min-width: 1440px;
  }
  .blog__sections {
    gap: 30px;
    width: 1170px;
  }
  .blog__item{
    width: 370px;
    height: 500px;
  }
  .blog__item-title{
    width: 334px;
    height: 60px;
    top: 51%;
  }
  .blog__item-descr{
    width: 334px;
    height: 72px;
    top: 66%;
  }
}
/* section blog end */

/* section footer start */
.footer {
  margin-top: 60px;
}
.footer__content-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 375px;
}
.footer__info-wrapper{
  margin-top: 60px;
  position: relative;
  min-width: 375px;
  height: 170px;
}
.footer__info-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 343px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border-style: hidden;
  outline: none;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1;
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.24));
}
.footer__email-imgtop{
  margin: 30px auto 0;
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.footer__email-emailto{
  margin: 20px auto 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.footer__email-emailto a {
  color: #232233;
}
.footer__info-devider{
  margin: 20px auto 0;
  width: 117px;
  border: 2px solid #232233;
}
.footer__email-imgbottom {
  margin: 30px auto 0;
  background-image: url("../img/call.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.footer__email-phone {
  margin: 20px auto 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
  text-align: center;
}
.footer__bottomsection{
  width: 100%;
  height: 985px;
  background-color: #232233;
}
.footer__bottom-logo{
  margin: 210px auto 0;
  width: 334px;
  height: 210px;
}
.footer__bottom-title{
  margin: 0 auto;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__bottom-descr{
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .soc-footer{
  margin: 0;
  margin-top: 40px;
}
.footer .soc-footer .team__soc-facebook{
  background-image: url("../img/facebook-footer.svg");
}
.footer .soc-footer .team__soc-insta {
  background-image: url("../img/instagram-footer.svg");
}
.footer .soc-footer .team__soc-twitter {
  background-image: url("../img/twitter-footer.svg");
}
.footer .soc-footer .team__soc-youtube {
  background-image: url("../img/youtube-footer.svg");
}
.footer .soc-footer .team__soc-facebook::after,
.footer .soc-footer .team__soc-insta::after,
.footer .soc-footer .team__soc-twitter::after,
.footer .soc-footer .team__soc-youtube::after {
  background-color: #ffffff;
}
.footer__bottom-links{
  margin: 40px auto 0;
  width: 325px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__bottomlinks-title{
  margin-top: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav__bottom ul li {
  padding: 12px 0;
}
.nav__bottom ul li a {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__bottom-newsletter {
  min-width: 375px;
}
.newsletter__wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 180px;
}
.newsletter__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newsletter__descr{
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.newsletter__input {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.newsletter__input input {
  width: 343px;
  height: 50px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #6c6c71;
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 24px;
}
.newsletter__input input::placeholder {
  color: #6c6c71;
  text-align: left;
  vertical-align: text-top;
  font-size: 16px;
  font-family: Josefin Sans;
  line-height: 24px;
  border-style: hidden;
  outline: none;
  width: 139px;
}
.newsletter__button-external{
  position: absolute;
  top: 4px;
  left: 84%;
  width: 49px;
  height: 49px;
  background-color: white;
}
.newsletter__btn {
  border: 1px solid white;
  background-color: #5956e9;
  height: 46px;
  width: 48.33604431152344px;
  border-radius: 4px;
  cursor: pointer;
}
.footer__bottom-copyright{
  width: 100%;
  background-color: #232233;
}
.footer__bottom-copyright-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 375px;
  height: 75px;
}
.footer__bottom-devider {
  margin-top: 0;
  padding-top: 2px;
  width: 100%;
  background-color: white;
}
.footer__copyright-section{
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer__copyright-img{
  background-image: url("../img/copyright.svg");
  width: 18px;
  height: 18px;
}
.footer__copyright-text {
  padding-top: 4px;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px){
  .footer__info-devider{
    display: none;
  }
  .footer{
    margin-top: 120px;
  }
  .footer__content-wrapper{
    min-width: 768px;
  }
  .footer__info-container{
    width: 688px;
    height: 150px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: start;
  }
  .footer__info-vert-devider{
    margin: 22px 30px 0 103px;
    width: 3px;
    height: 106px;
    background-color: #6c6c72;
  }
  .footer__email-wrap{
    margin: auto 0 auto 18px;
    display: flex;
    flex-direction: row;
    width: 223px;
    height: 60px;
  }
  .footer__phone-wrap {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    width: 211px;
    height: 60px;
  }
  .footer__email-emailto{
    margin: 15px auto 0;
  }
  .footer__email-imgtop,
  .footer__email-imgbottom{
    margin: 0;
  }
  .footer__email-emailto a,
  .footer__email-phone{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: none;
    margin-left: 16px;
  }
  .footer__email-imgtop,
  .footer__email-imgbottom {
    background-size: 60px;
    width: 60px;
    height: 60px;
  }
  /* ----------- */
  .footer__info-wrapper{
    height: 81px;
  }
  .footer__content-wrapper{
    background-color: #232233;
  } 
  .footer__bottomsection{
    margin: 135px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 682px;
    height: 255px;
  }
  .footer__bottom-logo{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
    width: 213px;
    height: 181px;
  }
  .footer__bottom-title{
    margin: 0dvh;
    display: flex;
    font-weight: 700;
    font-size: 31px;
    line-height: 151%;
  }
  .footer__bottom-descr{
    margin: 0 auto;
    width: 213px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .footer .soc-footer{
    margin-top: 23px;
  }
  .footer__bottom-links{
    display: flex;
    width: 123px;
    height: 175px;
    margin: 0;
  }
  .footer__bottomlinks-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-top: 0;
  }
  .nav__bottom ul li {
    padding: 6px 0;
  }
  .footer__bottom-newsletter,
  .newsletter__wrapper{
    width: 213px;
    height: 171px;
    margin: 0;
  }
  .footer__bottom-newsletter{
    min-width: 0;
  }
  .newsletter__descr{
    width: 213px;
    height: 48px;
  }
  .newsletter__input{
    margin-top: 11px;
  }
  .newsletter__input input{
    width: 213px;
  }
  .newsletter__button-external{
    left: 75%;
  }
  .newsletter__input input::placeholder{
    font-weight: 300;
    font-size: 12px;
  }
  .newsletter__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }
  .soc-footer{
    width: 213px;
  }
  .footer .soc-footer{
    gap: 33px;
  }
  .footer .soc-footer .team__soc-facebook::after,
  .footer .soc-footer .team__soc-insta::after,
  .footer .soc-footer .team__soc-twitter::after{
    left: 166%;
  }
  .footer__bottom-copyright-wrapper{
    max-width: 682px;
  }
  .footer__copyright-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .footer__copyright-img{
    margin-top: 1px;
    background-size: 24px;
      width: 24px;
      height: 24px;
  }
}

@media (min-width: 1440px) {
  .footer {
      margin-top: 0;
    }
  .footer__content-wrapper {
    min-width: 1170px;
  }
  .footer__info-vert-devider {
    margin: 57px 50px 0 183px;
    width: 4px;
    height: 117px;
  }
  .footer__info-container {
    width: 1170px;
    height: 230px;
    border-radius: 30px;
  }
  .footer__email-wrap{
    width: 351px;
    height: 100px;
    margin: auto 0 auto 50px;
  }
  .footer__phone-wrap{
    width: 327px;
    height: 100px;
  }
  .footer__email-emailto{
    margin-top: 28px;
  }
  .footer__email-phone{
    margin-top: 30px;
  }
  .footer__email-emailto a,
  .footer__email-phone {
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
  }
  .footer__email-imgtop,
  .footer__email-imgbottom {
    background-size: 100px;
    width: 100px;
    height: 100px;
  }
  .footer__info-wrapper{
    height: 117px;
  }
  .footer__bottomsection{
    max-width: 1165px;
  }
  .footer__bottom-logo{
    width: 334px;
    height: 183px;
  }
  .footer__bottom-descr{
    width: 334px;
    height: 72px;
  }
  .footer .soc-footer{
    width: 276px;
    gap: 60px;
  }
  .footer .soc-footer .team__soc-facebook::after,
  .footer .soc-footer .team__soc-insta::after,
  .footer .soc-footer .team__soc-twitter::after {
    left: 215%;
  }
  .newsletter__input input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .footer__bottom-links{
    width: 154px;
    height: 181px;
  }
  .footer__bottomlinks-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
  }
  .footer__bottom-newsletter,
  .newsletter__wrapper{
    width: 369px;
    height: 180px;
  }
  .newsletter__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
  }
  .newsletter__input{
    margin-top: 20px;
  }
  .newsletter__input input{
    width: 360px;
  }
  .newsletter__button-external{
    left: 85%;
  }
  .footer__bottom-copyright-wrapper{
    max-width: 1162px;
  }
}
/* section footer end */