*{
    font-family: 'Josefin Sans';
    font-style: normal;
}

/* 375 px  */
.page-bg {
  display: flex;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  /* min-width: 375px; */
  height: auto;
}
.menu{
  margin: 30px auto 0;
  max-width: 343px;
  height: 60px;
}
.menu__inner{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 3px;
  border-radius: 3px;
  margin-top: 10px;
  width: 343px;
  height: 40px;
}
.menu .menu__burger {
  position: relative;
  background-image: url("../img/burger.svg");
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 5px;
}
.menu .menu__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  margin-top: -10px;
  margin-left: 20px;
  background-color: white;
  z-index: 1;
}
.menu .menu__logo-img {
  align-items: center;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  width: 79px;
  height: 12px;
  z-index: 2;
}
.menu__inner a {
  text-decoration: none;
}
.download {
  width: 76px;
  height: 34px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #5956E9;
  text-align: center;
  align-content: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

/* section hero start*/

.hero {
  display: flex;
  /* position: relative; */
  justify-content: center;
  flex-direction: column;
  margin: 98px;
  width: 343px;
  height: 358px; 
}
.hero__rectangle-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.hero__rectangle-bg{
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 323px;
  height: 358px;
  border: 10px solid #7572FF;
}
.hero__rectangle-front{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 20px;
  width: 323px;
  height: 318px;
  background-color: white;
}
.hero__rectangle-title {
  margin-top: 30px;
  margin-left:18px;
  width: 262px;
  height: 71px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #5956E9;
}
.hero__rectangle-descr {
  display: block;
  margin-top: 18px;
  margin-left: 18px;
  width: 298px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #6C6C72;
}
.hero__rectangle-downloadtext{
  margin-top: 30px;
  margin-left: 18px;
  width: 231px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}
.hero__rectangle-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 228px;
  height: 34px;
  margin-top: 18px;
  margin-left: 18px;
}
.mobileimg,.hero__mobileimg{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 55px;
  width: 100%;
  height: auto;
  max-width: 466px;
}
/* section hero end */

/* section  start */
/* section hero end */

/* 375 px  */